body {
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #131b21;
}
.bgn {
    background-color: black;
    border: 1px solid #fff;
}
.htext {
color: #ffffff;
font-weight: inherit;
line-height: 1.2;
}
.ltext {
    color: #ffff;
}
.wh {
    color: #ffffff;
    font-weight: 700;
    padding-top: 30px;
}
.Hbot {
    color: #AD91FF !important;
}
.Hbot:hover {
    font-size: 30px;
    text-shadow: #ffffff;
}
.textt {
    color: #a2a8bd;
}
.card {
    border: 1px solid #ffffff;
}
.card:hover {
     border: 3px solid black;
}
.cardds{
margin-top: 30px !important;
padding: 60px 50px !important;
}
.bgseconde {
    padding-bottom: 150px;
    background-color: #131b21;

}
.ttjoin {
    color: #ffffff;
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
}
span {
    font-weight: 700;
}
.footer-social-icons {
    width: 350px;
    display: block;
    margin: 0 auto;
    align-items: center;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}
.add_to_discord {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    font-size: 17px !important;
    line-height: 21px !important;
    color: #fff;
    padding: 27px;
    height: 58px;
    outline: none;
}
.add_to_discord svg {
    padding-right: 20px;
    box-sizing: unset;
}
.add_to_discord:hover {
    background-color: rgb(152, 67, 233);
}
.commandstitle {
    color: #ffffff;
}
.commandssub {
    color: gray;
}


.mastfoot.mb-auto{
    padding-bottom: 40px;
    padding: 20px;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #212529;
    color: white;
    position: initial;
}


::-webkit-scrollbar {
	width: 12.2px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1000px #38383b; 
}

::-webkit-scrollbar-thumb {
	background: #202225; 
	border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 81, 81); 
  }