div#footerinfo {
    margin-bottom: -35px;
  }

  h6.text-uppercase.font-weight-bold.mb-4 {
    color: #ffffff;
  }
  .col-lg-2.col-md-6.mb-4.mb-lg-0 {
    padding-left: 30px;
    padding-top: 15px;
  }
  .col-lg-4.col-md-6.mb-4.mb-lg-0 {
    padding-left: 30px;
    padding-top: 15px;
  }
  .bot-footer {
    margin-bottom: 10px;
  }
  .botname-footer {
    color: #454dfc;
    font-size: 20px;
  }
  .botdes-footer {
    color: #ffffffb3!important;
  }
  svg#icon-footer {
    color: #454dfc;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .Hbot {
      color: #AD91FF !important;
  }
  .Hbot:hover {
      font-size: 30px;
      text-shadow: #ffffff;
  }
  .textt {
      color: #a2a8bd;
  }
  .center{
    margin-top: 40px;
  }
  .card.w-75.mt-4.p-2 {
    margin-top: 50px!important;
  }
  .card:hover {
    border: 1px solid #454dfc;
    transform: translateY(-5px);
    transition: 0.5s all;
    box-shadow: 0px 5px 1.5rem rgb(69 77 252 / 25%);
  }
  .cardds{
    margin-top: 30px !important;
    padding: 60px 50px !important;
  }
  svg#stats-icon {
    color: #454dfc;
    font-size: 35px;
  }
  span.d-block.mt-3.count-num.fw-bold {
    font-size: 25px;
  }
  span.stats-desc {
    font-size: 15px;
    color: hsl(0deg 0% 100% / 70%);
    font-weight: 100;
  }
  .bgseconde {
      padding-bottom: 25px;
      background-color: #454dfc;
  
  }
  
  div#test {
    border-radius: 25px;
  }
  
  button.btn.btn-get-started.text-center {
    background-color: #ffffff;
    color: #454dfc;
    border-radius: 30px;
    padding: 12px 22px;
  }
  button.btn.btn-get-started.text-center:hover {
    background-color: #ffffffb3;
  
  }
  .getstarted-box.p-5 {
    padding: 1rem!important;
  }
  
  h2.text-center.fw-bold.get-title {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
    color: #151529;
  }
  
  .ttjoin {
      color: #ffffff;
      font-weight: 500;
      font-size: 36px;
      line-height: 51px;
  }
  span {
      font-weight: 700;
  }
  .footer-social-icons {
      width: 350px;
      display: block;
      margin: 0 auto;
      align-items: center;
  }
  .social-icon {
      color: #fff;
  }
  ul.social-icons {
      margin-top: 10px;
  }
  .social-icons li {
      vertical-align: top;
      display: inline;
      height: 100px;
  }
  .social-icons a {
      color: #fff;
      text-decoration: none;
  }
  .add_to_discord {
      display: flex;
      align-items: center;
      background-color: blueviolet;
      border-radius: 8px;
      border: 0;
      font-weight: 600;
      font-size: 17px !important;
      line-height: 21px !important;
      color: #fff;
      padding: 27px;
      height: 58px;
      outline: none;
  }
  .add_to_discord svg {
      padding-right: 20px;
      box-sizing: unset;
  }
  .add_to_discord:hover {
      background-color: rgb(152, 67, 233);
      text-decoration: none;
    }

/* BOOTSTRAP V.4 -_- */

